/* DeleteSpotModal.css */
.delete-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    z-index: 1050;
    text-align: center;
}

.delete-form h1 {
    color: #FF385C;
    margin-bottom: 20px;
}

.delete-form h2 {
    color: #666;
    font-size: 16px;
    margin-bottom: 25px;
}

/* Styling for error messages */
.delete-form p {
    color: #d8000c;
    background-color: #ffd2d2;
    padding: 10px;
    border: 1px solid #d8000c;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Button styles */
.delete-form button {
    padding: 10px 20px;
    margin: 10px;
    width: calc(50% - 22px); /* accounting for margin and button padding */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yes-delete {
    background-color: #FF385C;
    color: white;
}

.yes-delete:hover {
    background-color: #e60023; /* A darker red for hover effect */
}
