/* ReviewForm.css */
.review-form {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.review-form h1 {
    text-align: center;
    color: #FF385C;
    margin-bottom: 20px;
}

.review-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allows vertical resizing, not horizontal */
}

.review-textarea:focus {
    border-color: #FF385C;
    box-shadow: 0 0 0 2px rgba(255, 56, 92, 0.25);
    outline: none;
}

.stars {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.stars span {
    cursor: pointer;
    color: #ccc; /* Default empty star color */
    font-size: 24px; /* Star size */
}

.stars .filled {
    color: #FFD700; /* Gold color for filled stars */
}

.review-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #FF385C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.review-button:hover {
    background-color: #E94E4F; /* Slightly darker red on hover */
}

.review-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.errors-container {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}
