/* Navigation.css */
header {
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo-container img {
  height: 40px; /* Adjust size as needed */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a, .nav-links button {
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover, .nav-links button:hover {
  background-color: #f2f2f2;
}

/* Profile Dropdown Button */
.profile-dropdown {
  position: absolute;
  top: 50px; /* Adjust based on your button's size and header's height */
  right: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 10px;
  display: none; /* initially hidden */
  flex-direction: column;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 10px;
  list-style: none;
  text-align: center;
}

.manage-spots-button, .logout-button {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.logout-button {
  background-color: #dc3545; /* Bootstrap danger red */
}

.manage-spots-button:hover, .logout-button:hover {
  opacity: 0.9;
}

/* Accessibility Enhancements */
button:focus, a:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 105, 135, 0.5); /* Light pink focus ring */
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
      flex-direction: column;
      padding: 10px;
      gap: 5px;
  }
}
