* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .background {
    /* Full screen */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .login-form { /* Fixed Background Image */
    background-image: url(/images/7a8a3d1f-54a6-432d-a24e-b17138ff8a1f.png); /* Mask */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
