* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .background {
    /* Full screen */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Fixed Background Image */
    background-image: url('image in image folder'); /* Mask */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
