/* LoginForm.css */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 300px;
  margin: auto;
}

.login-form h1 {
  color: #FF385C; /* Airbnb's iconic pink-red color */
  margin-bottom: 20px;
}

.login-form label {
  margin-bottom: 10px;
  width: 100%;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form input:focus {
  outline: none;
  border-color: #FF385C;
  box-shadow: 0 0 0 2px rgba(255, 56, 92, 0.2);
}

.login-form p {
  color: #d8000c;
  background-color: #ffd2d2;
  padding: 5px;
  border: 1px solid #d8000c;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.login-form button {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-form .login {
  background-color: #FF385C;
}

.login-form .login:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-form .login:hover:enabled {
  background-color: #e60023; /* Slightly darker shade for hover effect */
}

.login-form .demo-login {
  background-color: #007bff; /* Bootstrap's primary blue color for demo contrast */
}

.login-form .demo-login:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
